.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  color: white;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #241c29;  
}

li{
  padding: 5px 10px;
}
.logo{
  font-size: x-large;
  margin-left: auto;
}
.nav-links{
  width: 50%;
  display: flex;
  align-items: flex-start;
  list-style: none;
}
.nav-link{
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out
}
.nav-link:visited{
  text-decoration: none;
  transform: scale(1.1);
}
.nav-link:hover{
  text-decoration: underline;
  font-size: large;
}
.employee-home{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}